<form action="/profile/addPost" method="post" enctype="multipart/form-data">

<label for="content">Post content:</label>
<textarea name="content" cols="30" rows="5"></textarea>
<label for="picName">Picture name:</label>
  <input type="text" name="picName" placeholder="photo name">
<label for="photo">Picture file:</label>
  <input type="file" name="photo" placeholder="your photo">
  <input type="submit" value="Create post">
</form>